<!-- data-aos="fade-down-right" data-aos="fade-down-left" -->
<!-- <form> -->
    <img  src="../../../assets/mobile-app.png" alt="" style="width: 38%; float: left;">
<div class="container" >
    <div class="row">
        <div class="col-lg-4 col-md-4"></div>
        <div class="col-lg-6 col-md-6">
            <div class="card">
                <div class="card-body">
                    <h1 style="text-align: center;">Enquiry Form</h1><br>
                    <h6 style="text-align: center;"></h6>
                    <form>
                         <div class="form-group"> 
                             <input type="firstname" name="" formControlName="" class="form-control" placeholder="First Name*"> <br>
                             <input type="lastname" class="form-control" placeholder="Last Name*"><br>
                             <input type="email" class="form-control" placeholder="Work Email*" > <br>
                             <input type="mobile_number" class="form-control" placeholder="Enter Your Number*"><br>
                             <textarea type="message" class="form-control" placeholder="Message*"></textarea> <br>
                             
                         </div>
                        <button class="btn btn-primary" type="submit">SEND</button>
                         <!-- <button class="btn btn-primary" type="button" disabled *ngIf="isLoading" style="margin-left: 33%; width: 33%;">
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" ></span>
                            Loading...
                         </button>  -->
                    </form>
                </div>
              </div>
        </div>
        <div class="col-lg-4 col-md-4"></div>
    </div>

</div>
<!-- </form> -->
