<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is written by samael * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * data-aos="fade-down"* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<!-- header -->

  <!-- Navbar content -->
  <nav  class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">
      </span>
    </button>
    <!-- <a class="navbar-brand" href="#">SAMAEL</a> -->

    <img  src="/assets/my_image.jpg" alt="my_image" style="width: 100px; border-radius: 50px;">
    <!-- <a class="navbar-brand">Web developer</a> -->
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">HOME</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/projects">PROJECTS</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="https://github.com/suchendrasharma" target="_blank">My Work</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="https://www.linkedin.com/in/suchendra-sharma-524343155/" target="_blank">ABOUT</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/contact_me">CONTACT ME</a>
        </li>
      </ul>
      <form class="d-flex" style="padding-left: 300px;">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </nav>

<router-outlet></router-outlet>


<!-- Footer -->
<footer class="page-footer font-small blue pt-4 bg-dark">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase" style="color: antiquewhite;">Footer Content</h5>
        <p style="color: antiquewhite;">Here you can use rows and columns to organize your footer content.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase" style="color: antiquewhite;">Links</h5>

        <ul class="list-unstyled" style="color: antiquewhite;">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase" style="color: antiquewhite;">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> All right reserved by &copy;conceptial 2021</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
